*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #000000;
    color: aqua;

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.input_container{
    width: 600px;
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(79, 79, 79, 0.3);
    border: 10px solid #2a2a2a;
}
.input_container .input-row{
    margin-bottom: 12px;
}
.input_container input:not([type="submit"]),
.input-row textarea{
    width: 100%;
    margin: 0 0 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    height: 50px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 0;
    transition: all 0.5s ease-out;
}
.input_container textarea{
    height: 100px;
    resize: none;
}

.input_container input:not([type="submit"]):focus,
.input_container textarea:focus{
    border-color: rgb(0, 96, 164);
}

*::-webkit-input-placeholder{
    opacity: 1;
    color: #000000;
}

.input_container input[type="submit"]{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 30px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgb(165, 165, 165);
    color: rgb(0, 0, 0);
    border: 0;
    transition: all 0.5s ease-out;
    border-radius: 5px;
}
.input_container input[type="submit"]:hover{
    background-color: #0dcd5a;
}
label.error{
    font-weight: 700;
    display: block;
    color: rgb(137, 137, 137);
    font-size: 14px;
}